* {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient( to right,#fab699,#ffa5bd,#eea8fb);
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
}

header .header-icons-container .icons {
    width: 50px;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
    text-decoration: none;

}

header .icons span {
    color: white;
}

header>h1 {
    display: grid;
    font-family: 'Times New Roman', Times, serif;
    font-size: 500%;
    padding: 10%;
    text-align: center;
}

.presentacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.texto__presentacion {
    display: grid;
    text-align: center;
    padding: 10%;
    font-size: x-large;
}

.avatar {
    display: grid;
    height: 400px;
    width: 400px;
    margin-left: 20%;
}


.content_text {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 70px;
    font-size: 50px;
}

.content {
    display: flex;
    padding: 200px;
    border-radius: 30%;
    margin: 0 auto;
    background-color: rgba(235, 240, 201, 0.849);
}

.subtitulo {
    text-align: center;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 40px;
}

.tecnologias {
    padding-top: 150px;
    width: 100%;
    text-align: center;
    display: flexbox;
    transition: all 0.3s;
}

  .tecnologias :hover{
    transform: scale(1.3) translateY(-1%) ;
  }
    

.tecn_html {
    width: 15%;
    height: 15%;
    margin: 10px;
}

.tecn_css {
    width: 15%;
    height: 15%;
    margin: 10px;
}

.tecn_js {
    width: 15%;
    height: 15%;
    margin: 10px;
}

.tecn_github {
    width: 15%;
    height: 15%;
    margin: 10px;
}

